<div class="table-container mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="dossiernummer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dossiernummer</th>
      <td mat-cell *matCellDef="let dossier"> <a [routerLink]="[dossier.id]">{{dossier.dossiernummer}}</a></td>
    </ng-container>
    <ng-container matColumnDef="dossiernummerFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field floatLabel="never" class="input-field-width">
          <input #clearableField matInput id="dossiernummerInputField" (focus)="clearTable('dossiernummer')" (keyup)="applyFilter($event.target.value, 'dossiernummer')">
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="voornaam">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Voornaam</th>
      <td mat-cell *matCellDef="let row">{{row.voornaam}}</td>
    </ng-container>
    <ng-container matColumnDef="voornaamFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field floatLabel="never" class="input-field-width">
          <input #clearableField matInput id="voornaamInputField" (focus)="clearTable('voornaam')" (keyup)="applyFilter($event.target.value, 'voornaam')">
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="achternaam">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Achternaam</th>
      <td mat-cell *matCellDef="let row">{{row.achternaam}}</td>
    </ng-container>
    <ng-container matColumnDef="achternaamFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field floatLabel="never" class="input-field-width">
          <input #clearableField matInput id="achternaamInputField" (focus)="clearTable('achternaam')" (keyup)="applyFilter($event.target.value, 'achternaam')">
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="registratiedatum">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Registratiedatum</th>
      <td mat-cell *matCellDef="let row">{{row.registratiedatum}}</td>
    </ng-container>
    <ng-container matColumnDef="registratiedatumFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field floatLabel="never" class="input-field-width">
          <input #clearableField matInput id="registratiedatumInputField" (focus)="clearTable('registratiedatum')" (keyup)="applyFilter($event.target.value, 'registratiedatum')">
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>
    <ng-container matColumnDef="statusFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field floatLabel="never" class="input-field-width">
          <mat-select id="statusSelectBox" [(ngModel)]="statusSelected" [disableRipple]="true" (selectionChange)="applyFilter($event.value, 'status')">
            <mat-option>Geen filter</mat-option>
            <mat-option *ngFor="let status of statusDropdown | enum" [value]="status.key">
              {{ status.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="school">
      <th mat-header-cell *matHeaderCellDef>School</th>
      <td mat-cell *matCellDef="let row">{{row.school}}</td>
    </ng-container>
    <ng-container matColumnDef="schoolFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field floatLabel="never" class="input-field-width">
          <mat-select id="schoolSelectBox" [(ngModel)]="schoolSelected" [disableRipple]="true" (selectionChange)="applyFilter($event.value, 'school')">
            <mat-option>Geen filter</mat-option>
            <mat-option *ngFor="let school of schoolDropdown | enum" [value]="school.key">
              {{ school.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="first-header-row-no-border"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedFilters" class="second-header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
</div>
