.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  overflow: auto;
  max-height: 600px;
}

.input-field-width{
  width: 80%;
}

:host ::ng-deep .mat-form-field-infix {
  border-top: 0;
}

.first-header-row-no-border th {
  border-bottom: none;
  display: table-cell;
}

.second-header-row th.mat-header-cell:last-child {
  padding-right: 0;
}
