//* TODO check whether height can be done better once LOGOS component is sticky to bottom of application
.bg-light-grey {
  background: #EDEEF3;
  height: 800px;
}

.pt-6 {
  padding-top: 5rem;
}

.card-title-blue {
  background: #3949AB;
  color: #FFFFFF;
  border: 1px solid #3949AB;
  border-radius: 0.25rem;
  text-align: center;
}

:host ::ng-deep .mat-row{
  min-height: 36px;
}
