<div class="row mt-3">
  <div class="col">
    <div class="card">
      <h5 class="card-title-blue mx-3 mt-2">Overzicht</h5>
      <div class="card-body">
        <div *ngIf="!(candidateRequestDetailsHasError$ | async); else errorWithGetDataTemplate">
          <div *ngIf="(candidateRequestDetails$ | async) as candidateRequestDetails; else loadingTemplate">
            <div class="row">
              <div class="col-xl-3 col-md-4 col-6 mb-2">
                <div class="data-label">Dossier Nr</div>
                <div class="text-secondary">{{ candidateRequestDetails.ReferenceNumber }}</div>
              </div>
              <div class="col-xl-3 col-md-4 col-6 mb-2">
                <div class="data-label">Status</div>
                <div class="text-secondary">{{ getStatus(candidateRequestDetails.Status) }}</div>
              </div>
              <div class="col-xl-3 col-md-4 col-6 mb-2">
                <div class="data-label">Betaald</div>
                <div class="text-secondary">{{ candidateRequestDetails.Paid ? 'Ja' : 'Nee' }}</div>
              </div>
              <div class="col-xl-3 col-md-4 col-6 mb-2">
                <div class="data-label">Begeleider</div>
                <div class="text-secondary">{{ candidateRequestDetails.EVC_Mentor || '-'}}</div>
              </div>
              <div class="col-xl-3 col-md-4 col-6 mb-2">
                <div class="data-label">Naam</div>
                <div class="text-secondary">{{ candidateRequestDetails.Candidate.Firstname }} {{ candidateRequestDetails.Candidate.Lastname }}</div>
              </div>
              <div class="col-xl-3 col-md-4 col-6 mb-2">
                <div class="data-label">Deadline</div>
                <div class="text-secondary">{{ candidateRequestDetails.Deadline |  date:'dd/MM/yyyy' }}</div>
              </div>
              <div class="col-xl-3 col-md-4 col-6 mb-2">
                <div class="data-label">PDF Rapport</div>
                <!-- TODO: PDF Rapport -->
                <div class="text-secondary">-</div>
              </div>
              <div class="col-xl-3 col-md-4 col-6 mb-2">
                <div class="data-label">PDF Verslag</div>
                <!-- TODO: PDF Verslag -->
                <div class="text-secondary">-</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <loading-blocks></loading-blocks>
</ng-template>

<ng-template #errorWithGetDataTemplate>
  <error-message title="Fout" message="Er is een fout gebeurt bij het ophalen van de overzichtdata"></error-message>
</ng-template>
