
<div class="card-blue mt-3">
  <div class="divider">
    <div class="mx-4 clickable">
      <span class="white-background progress-circle active-item my-2">1</span>
      <span class="text-white align-middle">Aanmelding</span>
    </div>
    <span class="divider" [ngStyle]="{'visibility': setVisibilityVerslag()}"></span>
    <div class="mx-4 clickable" [ngStyle]="{'visibility': setVisibilityVerslag()}">
      <span class="white-background progress-circle inactive-item my-2">2</span>
      <span class="text-white align-middle">Intake</span>
    </div>
    <span class="divider" [ngStyle]="{'visibility': setVisibilityEvaluatie()}"></span>
    <div class="mx-4 clickable" [ngStyle]="{'visibility': setVisibilityEvaluatie()}">
      <span class="white-background progress-circle inactive-item my-2">3</span>
      <span class="text-white align-middle">Documenteren</span>
    </div>
  </div>
</div>