.card-blue {
  background: #3949AB;
  border-radius: 0.25rem;
}

span.progress-circle {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
}

.active-item {
  background: #fff;
  color: #536DFE;
}

.inactive-item {
  background: #7D7D7D;
  color: #fff;
}

div.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.divider * {
  flex-shrink: 0
}
div.divider span.divider {
  width: 100%;
  flex-shrink: 1;
  border-bottom: 3px solid #BDBDBD;
  margin: 5px;
}

.clickable:hover {
  opacity: 0.75;
}
