@import "../../node_modules/bootstrap-material-design/scss/variables/colors";
$theme-colors: () !default;
$theme-colors: map-merge((
  primary: $indigo-a200,
  secondary: $indigo-600,
  success: $green,
  info: $light-blue,
  warning: $deep-orange,
  danger: $red,
  light: $grey-100,
  dark: $grey-800
), $theme-colors);
