@import "customColors";
@import "~bootstrap-material-design/scss/bootstrap-material-design";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

div.ripple-container {
  display: none;
}

.clickable {
  cursor: pointer;
}

.filter-option .mat-pseudo-checkbox {
  display: none !important;
}

.card-title-blue {
  background: #3949AB;
  color: #FFFFFF;
  border: 1px solid #3949AB;
  border-radius: 0.25rem;
  text-align: center;
  margin-top: 0.25rem;
}

.data-label {
  font-size: 18px;
}

/** Code uit angular-material-bootstrap library die css uit angular-material (ons hoofd framework) overschrijft
*** Deze
 */
:host ::ng-deep .bmd-form-group {
  padding-top: unset;
}
