<h5 class="card-title-blue mx-3 mt-2">
  <div *ngIf="!(editing$ | async)">
    <i class="far fa-edit fa-sm invisible mr-1"></i>{{ cardTitle }}
    <span [class.disabled]="!canEdit" (click)="edit()" class="float-right clickable" matTooltip="Gegevens aanpassen" [matTooltipPosition]="'above'">
      <i class="far fa-edit fa-sm mr-1"></i>
    </span>
  </div>
  <div *ngIf="editing$ | async">
    <i class="fas fa-times fa-sm invisible mr-2"></i>{{ cardTitle }}
    <span (click)="cancel()" class="float-right clickable" matTooltip="Annuleren" [matTooltipPosition]="'above'">
      <i class="fas fa-times fa-sm mr-2"></i>
    </span>
  </div>
</h5>
