.card-title-blue {
  background: #3949AB;
  color: #FFFFFF;
  border: 1px solid #3949AB;
  border-radius: 0.25rem;
  text-align: center;
  margin-top: 0.25rem;
}

span.disabled {
  cursor: not-allowed;
  opacity: 0.75;
}