<div class="container">
  <a class="navbar-brand font-weight-bold" routerLink="home">EVC AANMELDING</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="collapsingNavbar">
    <ul *ngIf="!coordinatorIsIngelogd;else ingelogdNavbarTemplate" class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="home" [routerLinkActiveOptions]="{exact:true}">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" [routerLinkActive]="['active']" routerLink="home/register">aanmelden</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" [routerLinkActive]="['active']" routerLink="home/contact">contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold clickable" (click)="logInUser()" routerLink="dossiers">inloggen</a>
      </li>
    </ul>
  </div>
</div>

<ng-template #ingelogdNavbarTemplate>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item ">
      <a class="nav-link" [routerLinkActive]="['active']" routerLink="dossiers">KANDIDATEN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >INSTELLINGEN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link clickable" (click)="logoutUser()" routerLink="home">UITLOGGEN</a>
    </li>
  </ul>
</ng-template>
