<div class="row">
  <form *ngIf="editing$ | async" class="col-12" [formGroup]="kandidaatForm">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Voornaam" formControlName="voornaam">
          <mat-error *ngIf="kandidaatForm.controls.voornaam.errors">{{ requiredErrorMessage }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Achternaam" formControlName="achternaam">
          <mat-error *ngIf="kandidaatForm.controls.achternaam.errors">{{ requiredErrorMessage }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="kandidaatForm.controls.email.errors">{{ emailErrorMessage }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Telefoon" formControlName="telefoon">
          <mat-error *ngIf="kandidaatForm.controls.telefoon.errors">{{ requiredErrorMessage }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Adres" formControlName="adres">
          <mat-error *ngIf="kandidaatForm.controls.adres.errors">{{ requiredErrorMessage }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-select placeholder="Diploma" formControlName="selectedDegrees" multiple>
            <mat-option *ngFor="let degree of degrees | enum" [value]="degree.key">{{ degree.value }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-6 mb-2">
        <div class="row">
          <div class="col-sm-6 mb-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Postcode" formControlName="postcode">
              <mat-error *ngIf="kandidaatForm.controls.postcode.errors">{{ requiredErrorMessage }}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6 mb-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Stad" formControlName="stad">
              <mat-error *ngIf="kandidaatForm.controls.stad.errors">{{ requiredErrorMessage }}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="col-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Aantal jaren werkervaring" formControlName="werkervaring" type="number">
          <mat-error *ngIf="kandidaatForm.controls.werkervaring.errors">{{ requiredErrorMessage }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Nummer Identiteitskaart" formControlName="identiteitskaart">
          <mat-error *ngIf="kandidaatForm.controls.identiteitskaart.errors">{{ requiredErrorMessage }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Rijksregisternummer" formControlName="rijksregister">
          <mat-error *ngIf="kandidaatForm.controls.rijksregister.errors">{{ requiredErrorMessage }}</mat-error>
        </mat-form-field>
      </div>

    </div>
  </form>
</div>
