<div class="row">
    <div class="col-6">
      <div class="mb-2">
        <div class="data-label">Voornaam</div>
        <div class="text-secondary">{{ candidateDetails.Candidate.Firstname }}</div>
      </div>
    </div>

    <div class="col-6 mb-2">
      <div class="data-label">Achternaam</div>
      <div class="text-secondary">{{ candidateDetails.Candidate.Lastname }}</div>
    </div>

    <div class="col-6 mb-2">
      <div class="data-label">Email</div>
      <div class="text-secondary">{{ candidateDetails.Candidate.Email }}</div>
    </div>

    <div class="col-6 mb-2">
      <div class="data-label">Telefoon</div>
      <div class="text-secondary">{{ candidateDetails.Candidate.Phone }}</div>
    </div>

    <div class="col-6 mb-2">
      <div class="data-label">Adres</div>
      <div class="text-secondary">{{ candidateDetails.Candidate.Address }}</div>
    </div>

    <div class="col-6 mb-2">
      <div class="data-label">Diploma</div>
      <div class="text-secondary">{{ candidateDegrees }}</div>
    </div>

    <div class="col-6 mb-2">
      <div class="row">
        <div class="col-sm-6 mb-2">
          <div class="data-label">Postcode</div>
          <div class="text-secondary">{{ candidateDetails.Candidate.PostalCode }}</div>
        </div>
        <div class="col-sm-6 mb-2">
          <div class="data-label">Stad</div>
          <div class="text-secondary">{{ candidateDetails.Candidate.City }}</div>
        </div>
      </div>
    </div>

    <div class="col-6 mb-2">
      <div class="data-label">Aantal jaren werkervaring</div>
      <div class="text-secondary">{{ candidateDetails.Candidate.WorkExperience | decimalComma }}</div>
    </div>

    <div class="col-6 mb-2">
      <div class="data-label">Nummer Identiteitskaart</div>
      <div class="text-secondary">{{ candidateDetails.Candidate.CardNumber }}</div>
    </div>

    <div class="col-6 mb-2">
      <div class="data-label">RijksRegister nr</div>
      <div class="text-secondary">{{ candidateDetails.Candidate.RegistryNumber }}</div>
    </div>
  </div>
