
<div class="row-fluid intro">
  <div style="text-align:center">
    <h1>
      Start het aanmeldproces!
    </h1>

    ________

    <p>Aanmelden voor een informatief en oriënterend gesprek met het oog op het
      <br> mogelijk opstarten van de procedure voor erkenning van eerder verworven
      <br> competenties en met het verkrijgen van informatie over andere alternatieven
      <br> in het hoger onderwijs.
    </p>
    <button type="button" [routerLinkActive]="['active']" routerLink="register" class="btn btn-primary bg-white mt-3 mb-4">aanmelden</button>
  </div>
</div>

