.intro {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
  color: #FFFFFF;
  background-color: #3949AB;
  width: 100%;
  
}

.intro p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}

.intro a {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.0357143em;
  color: #000000;
  border-radius: 30px;
  border-color: khaki;
  background: #FFFFFF;
}

.intro h1 {
  padding-top: 30px;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
  color: #FFFFFF;
}



.line {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
  color: #FFFFFF;
}

