<div class="card h-100">
  <h5 class="card-title-blue mx-3 mt-2">Aanvraag</h5>
  <div class="card-body">
    <div *ngIf="!(candidateRequestDetailsHasError$ | async); else errorWithGetDataTemplate">
      <div *ngIf="candidateRequestDetails$ | async; else loadingTemplate">
        <div class="row">
          <div class="col-12">
            <div class="mb-2">
              <div class="data-label">School</div>
              <div class="text-secondary">{{ getSchool((candidateRequestDetails$ | async).Education.School) }}</div>
            </div>
          </div>

          <div class="col-12">
            <div class="mb-2">
              <div class="data-label">Beoogde opleiding</div>
              <div class="text-secondary">{{ (candidateRequestDetails$ | async).Education.Name }}</div>
            </div>
          </div>

          <div class="col-12">
            <div class="mb-2">
              <div class="data-label">Beoogde opleidingsonderdelen</div>
              <div class="text-secondary">
                {{ getCandidateEducationCourses((candidateRequestDetails$ | async).CandidateEducationCourses) || '-' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <loading-blocks></loading-blocks>
</ng-template>

<ng-template #errorWithGetDataTemplate>
  <error-message title="Fout" message="Er is een fout gebeurt bij het ophalen van de afspraakdata"></error-message>
</ng-template>
