<div class="card h-100">
  <card-title-editable cardTitle="Afspraak" [editing$]="editing$" [canEdit]="candidateDetails != null"></card-title-editable>
  <div class="card-body">
    <div *ngIf="!(candidateRequestDetailsHasError$ | async); else errorWithGetDataTemplate">
      <div *ngIf="candidateDetails; else loadingTemplate">
        <div class="row">

          <div *ngIf="!editing; else editingTemplate">
            <div class="col-12">
              <div class="mb-2" [hidden]="editing$ | async">
                <div class="data-label">Datum afspraak</div>
                <div class="text-secondary">{{ (candidateDetails.AppointmentDate !== null) ? (candidateDetails.AppointmentDate | dateFormat) : '-' }}</div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-2" [hidden]="editing | async">
                <div class="data-label">EVC-begeleider</div>
                <div class="text-secondary">{{ candidateDetails.EVC_Mentor || '-' }}</div>
              </div>
            </div>
          </div>

          <ng-template #editingTemplate>
            <form class="col-12" [formGroup]="afspraakForm">
              <mat-form-field class="w-100">
                <input [owlDateTimeTrigger]="datetimepicker" [owlDateTime]="datetimepicker" matInput placeholder="Datum afspraak" formControlName="datumAfspraak">
                <owl-date-time [firstDayOfWeek]='1' #datetimepicker></owl-date-time>
                <mat-error *ngIf="afspraakForm.controls.datumAfspraak.errors">{{ dateTimeErrorMessage }}</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100">
                <input matInput placeholder="EVC-begeleider" formControlName="evcBegeleider">
                <mat-error *ngIf="afspraakForm.controls.evcBegeleider.errors">{{ requiredErrorMessage }}</mat-error>
              </mat-form-field>
            </form>
          </ng-template>

        </div>
      </div>
    </div>

    <ng-container *ngIf="editing$ | async">
      <div class="row">
        <div class="col-12 text-right" matchWidth='btn'>
          <button type="button" class="btn btn-outline-warning mr-2 mb-3" (click)="cancel()">Annuleren</button>
          <button *ngIf="afspraakForm.valid" type="button" class="btn btn-outline-primary active ml-2 mr-3 mb-3" (click)="saveForm()">Opslaan</button>
          <button *ngIf="afspraakForm.invalid" type="button" class="btn btn-outline-danger active ml-2 mr-3 mb-3" (click)="showFormHasErrorsSnackBar()">Opslaan</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<ng-template #loadingTemplate>
  <loading-blocks></loading-blocks>
</ng-template>

<ng-template #errorWithGetDataTemplate>
  <error-message title="Fout" message="Er is een fout gebeurt bij het ophalen van de afspraakdata"></error-message>
</ng-template>
