<div class="light-blue-background">
  <div class="container pt-5">
    <div class="row">
      <div class="col-12">
        <dossier-overzicht
          [candidateRequestDetails$]="candidateRequestDetails$" 
          [candidateRequestDetailsHasError$]="candidateRequestDetailsHasError$">
        </dossier-overzicht>
        <progress-tracker></progress-tracker>
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>