
/** Padding for proper display when page is small and items are stacked on top of each other */
.item {
  align-self: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.item a img {
  display: block;
  margin: auto;
}
