<div class="container-fluid">
  <div class="row bg-white">
    <div class="col-sm-4 item">
      <a href="https://www.pxl.be">
        <img alt="PXL" src="../assets/img/logo_pxl.png" width="25%">
      </a>
    </div>
    <div class="col-sm-4 item">
      <a href="https://www.auhl.be/">
        <img alt="AUHL" src="../assets/img/logo_auhl.png" width="37%">
      </a>
    </div>
    <div class="col-sm-4 item">
      <a href="https://www.uhasselt.be">
        <img alt="UHasselt" src="../assets/img/logo_uhasselt.jpg" width="50%">
      </a>
    </div>
  </div>
</div>
