<div class="row mt-3">
  <div class="col">
    <div class="card">
      <card-title-editable cardTitle="Kandidaat" [editing$]="editing$" [canEdit]="candidateDetails != null"></card-title-editable>
      <div class="card-body">
        <div *ngIf="!(candidateRequestDetailsHasError$ | async); else errorWithGetDataTemplate">
          <div *ngIf="candidateDetails; else loadingTemplate">
            <dossier-aanmelding-kandidaat-static *ngIf="!(editing$ | async)" [candidateRequestDetails$]="candidateRequestDetails$"></dossier-aanmelding-kandidaat-static>
            <dossier-aanmelding-kandidaat-editable [candidateRequestDetails$]="candidateRequestDetails$" [editing$]="editing$"></dossier-aanmelding-kandidaat-editable>
          </div>
        </div>

        <ng-container *ngIf="editing$ | async">
          <div class="row">
            <div class="col-12 text-right" matchWidth='btn'>
              <button type="button" class="btn btn-outline-warning mr-2 mb-3" (click)="cancel()">Annuleren</button>
              <button *ngIf="editableComponent.kandidaatForm.valid" type="button" class="btn btn-outline-primary active ml-2 mr-3 mb-3"
                (click)="saveForm()">Opslaan</button>
              <button *ngIf="editableComponent.kandidaatForm.invalid" type="button" class="btn btn-outline-danger active ml-2 mr-3 mb-3"
                (click)="showFormHasErrorsSnackBar()">Opslaan</button>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <loading-blocks></loading-blocks>
</ng-template>

<ng-template #errorWithGetDataTemplate>
  <error-message title="Fout" message="Er is een fout gebeurt bij het ophalen van de kandidaatdata"></error-message>
</ng-template>
