<div class="justify-content-md-center box">
  <div class="container">


    <form class="form-layout" [formGroup]="kandidaatForm">
      <div class="blue-border-bottom">
        <h3 class="text-secondary">AANMELDING</h3>
        <h4 class="text-primary">Personalia</h4>
      </div>


      <div class="row pt-2 pb-2">
        <div class="col-6 no-gutters">
          <mat-form-field class="w-100">
            <input matInput placeholder="Voornaam" formControlName="voornaam" autocomplete="given-name">
            <mat-error *ngIf="kandidaatForm.controls.voornaam.errors">{{ requiredErrorMessage }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Achternaam" formControlName="achternaam" autocomplete="family-name">
            <mat-error *ngIf="kandidaatForm.controls.achternaam.errors">{{ requiredErrorMessage }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Email" formControlName="email" autocomplete="email">
            <mat-error *ngIf="kandidaatForm.controls.email.errors">{{ emailErrorMessage }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Telefoon" formControlName="telefoon" autocomplete="tel-national">
            <mat-error *ngIf="kandidaatForm.controls.telefoon.errors">{{ requiredErrorMessage }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field class="w-100">
            <input matInput placeholder="Adres" formControlName="adres" autocomplete="street-address">
            <mat-error *ngIf="kandidaatForm.controls.adres.errors">{{ requiredErrorMessage }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-6 mb-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Postcode" formControlName="postcode" autocomplete="postal-code">
            <mat-error *ngIf="kandidaatForm.controls.postcode.errors">{{ requiredErrorMessage }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-6 mb-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Stad" formControlName="stad" autocomplete="address-level2">
            <mat-error *ngIf="kandidaatForm.controls.stad.errors">{{ requiredErrorMessage }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Nummer Identiteitskaart" formControlName="identiteitskaart">
            <mat-error *ngIf="kandidaatForm.controls.identiteitskaart.errors">{{ requiredErrorMessage }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Rijksregisternummer" formControlName="rijksregister">
            <mat-error *ngIf="kandidaatForm.controls.rijksregister.errors">{{ requiredErrorMessage }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Aantal jaren werkervaring" formControlName="werkervaring" type="number">
            <mat-error *ngIf="kandidaatForm.controls.werkervaring.errors">{{ requiredErrorMessage }}</mat-error>
          </mat-form-field>
        </div>


        <div class="col-6">
          <mat-form-field class="w-100">
            <mat-select placeholder="Diploma" formControlName="diploma" multiple>
              <mat-option *ngFor="let degree of degrees | enum" [value]="degree.key">{{ degree.value }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="blue-border-bottom">
        <h4 class="text-primary">Gegevens aanvraag</h4>
      </div>

      <div class="row pt-2">
        <div class="col-sm-6">
          <fieldset class="form-group">
            <mat-form-field class="w-100">
              <mat-select [(ngModel)]="selectedSchool" [ngModelOptions]="{standalone: true}"
                          (selectionChange)="setOpleidingen()" id="Instelling" required disableRipple>
                <mat-option *ngFor="let school of scholen | enum" [value]="school.key">{{ school.value }}</mat-option>
              </mat-select>
              <mat-placeholder>School</mat-placeholder>
            </mat-form-field>
          </fieldset>
        </div>

        <div class="col-sm-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="EVC-Coördinator" value="{{evcCoordinator}}" disabled>
          </mat-form-field>
        </div>

      </div>
      <div class="row">

        <div class="col-sm-6 ">

          <mat-form-field class="w-100">
            <input type="text" aria-label="Number" matInput [formControl]="opleidingFormControl"
                   [matAutocomplete]="auto" required
            >
            <mat-autocomplete autoActiveFirstOption
                              #auto="matAutocomplete"
                              (optionSelected)="toonTrajecten()"
                              [displayWith]="displayView"
            >
              <mat-option [value]="opleiding" *ngFor="let opleiding of educationsResponseObservable | async">
                {{opleiding.Name}}
              </mat-option>
            </mat-autocomplete>
            <mat-placeholder>Beoogde opleiding</mat-placeholder>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-list-item role="listitem">
            <mat-form-field class="w-100">
              <mat-select
                placeholder="Opleidingsonderdelen (optioneel)"
                multiple
                disableRipple
                [(ngModel)]="selectedOpleidingsOnderdelen"
                [ngModelOptions]="{standalone: true}"
                #trajectenSelect
              >
                <div *ngIf="trajecten && trajecten.trajectschijf1.length > 0">
                  <mat-option disabled="disabled" class="filter-option">Trajectschijf 1</mat-option>
                  <mat-option *ngFor="let opleiding of trajecten.trajectschijf1" [value]="opleiding.Id">
                    {{opleiding.Name}}
                  </mat-option>
                </div>
                <div *ngIf="trajecten && trajecten.trajectschijf2.length > 0">
                  <mat-option disabled="disabled" class="filter-option">Trajectschijf 2</mat-option>
                  <mat-option *ngFor="let opleiding of trajecten.trajectschijf2" [value]="opleiding.Id">
                    {{opleiding.Name}}
                  </mat-option>
                </div>
                <div *ngIf="trajecten && trajecten.trajectschijf3.length > 0">
                  <mat-option disabled="disabled" class="filter-option">Trajectschijf 3</mat-option>
                  <mat-option *ngFor="let opleiding of trajecten.trajectschijf3" [value]="opleiding.Id">
                    {{opleiding.Name}}
                  </mat-option>
                </div>
                <div *ngIf="trajecten &&
                trajecten.trajectschijf1.length <= 0 &&
                trajecten.trajectschijf2.length <= 0 &&
                trajecten.trajectschijf3.length <= 0">
                  <mat-option disabled="disabled" class="filter-option">Geen gevonden</mat-option>
                </div>
              </mat-select>
            </mat-form-field>
          </mat-list-item>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <div class="checkbox d-flex align-items-center justify-content-center" style="height:100%;">
            <label>
              <input type="checkbox">
            </label>
          </div>
        </div>
        <div class="col-11 d-flex align-items-center">
          <div class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              <br> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi
              ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="col-sm-12 text-center">
          <button type="submit" class="btn btn-primary btn-raised" (click)="aanmeldingVoltooien()">Versturen</button>
        </div>
      </div>
    </form>
  </div>
</div>
