.box {
  padding: 30px;
  background-color: #3949AB;
}

.form-layout {
  padding: 40px;
  background: white;
  align-content: center;
  margin: 40px auto;
  width: 70%;
}

h3 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 26px;
}

h4 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

.blue-border-bottom {
  border-bottom: #536DFE solid 3px;
}
