<div class="row">
  <div class="col-12">
    <dossier-aanmelding-kandidaat 
      [candidateRequestDetails$]="candidateRequestDetails$"
      [candidateRequestDetailsHasError$]="candidateRequestDetailsHasError$">
    </dossier-aanmelding-kandidaat>
  </div>
</div>
<div class="row">
  <div class="col-md-6 py-3">
    <dossier-aanmelding-aanvraag 
      [candidateRequestDetails$]="candidateRequestDetails$"
      [candidateRequestDetailsHasError$]="candidateRequestDetailsHasError$">
    </dossier-aanmelding-aanvraag>
  </div>
  <div class="col-md-6 py-3">
    <dossier-aanmelding-afspraak 
      [candidateRequestDetails$]="candidateRequestDetails$"
      [candidateRequestDetailsHasError$]="candidateRequestDetailsHasError$">
    </dossier-aanmelding-afspraak>
  </div>
</div>
